body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.item {
  background: #fff;
  width: 200px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

.item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

button {
  padding: 6px 12px;
  font-size: 16px;
  margin: 5px;
}

.orderBtn {
  margin-top: 20px;
  background: green;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
}
